/* #4b5a81 */
.list-group-item{

    width: 100% ;
    
}
.btn-primary{
    width: 100%;
}
/* .calculatorMain{
  background-color: #445175;
} */
.calculatorMain {
  padding: 0px;
}
.calculatorMain .panel-form{
  /* background-color: #3d486c; */
  /* background-image: linear-gradient(to right, #f5f7fa , #c3cfe2); */
  /* background-image: linear-gradient(to right, #F5F6F7 , #c3cfe2); */
  background-color: #c3cfe2;
}
