.form-parent{
    padding: 0px 50px;
}
.page{
    /* background: #4b5a81; */
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
}
.itemNew{
    background-color: #445175;
    font-size: 20px;
    height: 55px;
    padding-top: 1rem !important;
    padding-bottom:1rem !important;
    outline: none;
    color: white;
    border: none;
    border-radius: 15px !important;
    font-family: "VoltaModernText", Arial, Verdana, Tahoma, "DejaVu Sans", sans-serif;
}
.group-input input{
    margin-top: 5px;
}
.group-survey .content-survey-group{
    margin: 5px 30px;
}
.country{
    margin: 0 auto;
}
.country .content-survey-group {
    width: 70%;
    margin: 0 auto;
}
.page .title-form p{
    font-family: sans-serif;
    text-align: center;
    color: #1F2667;
    /* letter-spacing: -1px; */

}
.page .title-form p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    padding: 15px 0px 0px 0px;
    margin: 0px;
}
.page .title-form p:nth-child(2){
    color: rgb(243, 83, 83);
    letter-spacing: 1px;
}

.active_Form_Cal{
    background-color: #43ca54;
    width: 100%;
    color: black;
    font-weight: 600;
}
.lbl-tile-group  p{
    margin: 0px;
    color: #1F2667;
    padding-left: 20px;
    font-size: large;
    text-align: left;
    /* margin-top: 30px; */
}
.lbl-tile-group .age{
    margin-top: 15px;
}
.lbl-tile-group .sex{
    margin-top: 80px;
}
.lbl-tile-group .Cardiovascular{
    margin-top: 80px;
}
.box-btn-check{
    width: 96%;
    margin-bottom: 50px;
    display: inline-flex;
}
.box-btn-check button{
    margin-top: 20px;
    border-radius: 15px;
}
@media only screen and (max-width: 960px)
{
    .form-parent{
        padding: 0px;
    }
  .page{
    margin: 30px 20px;
    border-radius: 20px;
    text-align: center;
  }
  .list-group-item{
      font-size: 20px;
      padding: 5px 8px;
}
    .p-note{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* CSS SlectBox Choose Country */
/* .SelectBoxCountry{
    width: 75%;
    height: 100%;
}
#demo-simple-select-label{
    color: chartreuse;
    font-size: 17px;
    padding-left: 10px;

}

.MuiInputBase-input{
    font-weight: 600 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    word-spacing: 2px;
    color: #557ef1 !important; 
    font-size: 20px !important;
    padding-left: 5px !important;
}
.select-choose-country{
    padding-bottom: 10px !important;
    border-bottom: 1px solid aquamarine !important;
    font-size: 15px !important;
    padding-top: 10px !important;

}
.select-choose-country:hover {
    color: rgb(55, 58, 236);
    font-weight: bold;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    background-color: aquamarine !important;
    font-size: 18px !important;
  }
  @media only screen and (max-width: 900px) and (min-width:200px)
  {
    .MuiInputBase-input{
        font-weight: 550 !important;
        word-spacing: 0px !important;
        font-size: 15px !important;
        padding-left: 5px !important;
    }
  } */
.select-country{
    color: #091268;
    font-size: 18px;
    padding: 20px 0px;
}
.switch-condition{
    font-size: 20px;
    color: #091268;
    font-family: "VoltaModernText", Arial, Verdana, Tahoma, "DejaVu Sans", sans-serif;
    font-weight: 400;
}
.checkCondition{
    color: #43ca54;
    font-weight: 600;
}
.unCheckCondition{
    background-color: white;
}